In [ ]:
#  Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Pandas Series
print(my_series)

In [ ]:
#Q3. Create a Pandas DataFrame that contains the following data:

#Then, print the DataFrame.
import pandas as pd

# Define the data
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

In [ ]:
#  Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

import pandas as pd

# A Pandas DataFrame is a 2-dimensional labeled data structure, like a table with rows and columns.
# It can store different data types (numeric, string, boolean, etc.) in each column.

# Example DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 32, 28],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

# A Pandas Series is a 1-dimensional labeled array that can hold any data type.
# It's like a single column of a DataFrame.

# Example Series
ages = pd.Series([25, 32, 28], name='Age')
print("\nSeries:\n", ages)

# Key differences:
# - DataFrame is 2D (table-like), Series is 1D (column-like)
# - DataFrame can store multiple data types in different columns, Series stores a single data type

In [ ]:
#  What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

# Common functions for manipulating Pandas DataFrames:

# 1. head() and tail():
#    - head(n) displays the first n rows of the DataFrame.
#    - tail(n) displays the last n rows of the DataFrame.
#    - Useful for quickly inspecting the beginning or end of a large dataset.

print("First 3 rows:\n", df.head(3))
print("\nLast 2 rows:\n", df.tail(2))

# 2. describe():
#    - Generates descriptive statistics (count, mean, std, min, max, quartiles) for numerical columns.
#    - Helps understand the distribution of numerical data.

print("\nDescriptive statistics:\n", df.describe())

# 3. sort_values():
#    - Sorts the DataFrame by one or more columns.
#    - Useful for arranging data in a specific order.

print("\nSorted by Age:\n", df.sort_values('Age'))

# 4. groupby():
#    - Groups the DataFrame by one or more columns, allowing for aggregate calculations on each group.
#    - Example: Calculate the average age for each city.

print("\nAverage age by city:\n", df.groupby('City')['Age'].mean())

# 5. loc and iloc:
#    - loc: Accesses data by labels (row and column names).
#    - iloc: Accesses data by integer positions (row and column indices).
#    - Useful for selecting specific rows and columns.

print("\nRow with label 'Bob':\n", df.loc[df['Name'] == 'Bob'])
print("\nFirst row and first two columns:\n", df.iloc[0, :2])

# 6. apply():
#    - Applies a function to each element, row, or column of the DataFrame.
#    - Example: Convert all names to uppercase.

df['Name'] = df['Name'].apply(str.upper)
print("\nNames in uppercase:\n", df)

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

import pandas as pd
# Both Series and DataFrames are mutable in nature.

# Example demonstrating mutability of Series:
my_series = pd.Series([1, 2, 3])
my_series[0] = 10  # Modifying an element
print(my_series)  # Output shows the change

# Example demonstrating mutability of DataFrame:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df['A'][0] = 100  # Modifying a cell
print(df)  # Output shows the change

# Panels were deprecated in Pandas version 0.20.1 and removed in version 1.0.0.
# They were 3-dimensional data structures, and were also mutable.

In [ ]:
#  Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 28])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Combine Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

print(df)